@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: rgb(5,6,7);
  background-color: rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
 }

/*-----------------------------backgrounds colour-----------------------------*/

.navbar-bg {
	background-color: rgb(84, 201, 123);
}

.graphs-bg {
	background-color: rgb(238, 238, 238);
}

/*----------------------------Custom navbar styling---------------------------*/

.custom-navbarLogo {
	font-family: 'Annie Use Your Telescope', sans-serif;
	font-size: 1.8em;
}

.custom-navbar {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0 0 10px 10px;
}

/*---------------------------Custom overview styling--------------------------*/

#dashboard-overview {
	background-color: rgb(84, 201, 123);
	border-radius: 0 0 10px 10px;
}

.dashboard-card {
	background-color: rgb(84, 201, 123);
}

.white-dividers {
	border-left: solid 1px #fff;
	border-right: solid 1px #fff;
}

@media screen and (max-width: 575px) {
	.white-dividers {
		border: none;
	}
}

.graph-margin {
  margin: auto;
  width: 95%;
}

.custom-graph {
	border-radius: 10px;
  background-color: #fff;
}

/*------------------------Custom radio buttons styling------------------------*/

input.custom-radio-btn {
	visibility: hidden;
}

label.custom-radio-btn {
	cursor: pointer;
	padding: 1px;
	margin-right: 20px;
	color: #000;
	-webkit-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}

input.custom-radio-btn:hover + label.custom-radio-btn {
	color: rgb(40, 167, 69);
}

input.custom-radio-btn:active + label.custom-radio-btn {
	color: rgba(72, 200, 101);
}

input.custom-radio-btn:checked + label.custom-radio-btn {
	color: rgb(40, 167, 69);
}

/*-------------------------Datepicker style override--------------------------*/

.flatpickr-calendar {
	border: 1px solid #ced4da;
	box-shadow: 0px 0px 0px 0px #fff;
	width: 418px;
}

.flatpickr-innerContainer {
	width: 400px;
}

.flatpickr-rContainer {
	width: 400px;
}

.flatpickr-weekdays {
	width: 400px;
}

.flatpickr-days {
	width: 400px;
}

.dayContainer {
	width: 600px;
	max-width: 400px;
}

.flatpickr-day {
	width: 150px;
	padding: 15;
	max-width: 400px;
}
