{% extends 'base.html' %} {% block content %}

<!--Dashboard overview-->
<div id="dashboard-overview" class="card-group p-4">
  <div class="card text-center text-white dashboard-card border-0">
    <div class="card-body">
      <h2 class="card-title">Total debit</h2>
      <h5 class="card-text">{{debit}}</h5>
    </div>
  </div>
  <div class="card text-center text-white dashboard-card border-0">
    <div class="card-body white-dividers">
      <h2 class="card-title">Total credit</h2>
      <h5 class="card-text">{{credit}}</h5>
    </div>
  </div>
  <div class="card text-center text-white dashboard-card border-0">
    <div class="card-body">
      <h2 class="card-title">Balance</h2>
      <h5 class="card-text">{{total}}</h5>
    </div>
  </div>
</div>

<!--Graphs-->
<div class="container-fluid">
  <div class="row graphs-bg">
    <div class="col-lg-6 col-xs-12 pt-4">
      <div class="graph-margin">
        <img class="custom-graph" src={{bar_chart|safe}} type="image/svg+xml">
      </div>
    </div>
    <div class="col-lg-6 col-xs-12 pt-4">
      <div class="graph-margin">
        <img class="custom-graph" src={{pie_chart|safe}} type="image/svg+xml">
      </div>
    </div>
  </div>
</div>

{% endblock %}