{% extends 'base.html' %} {% block content %}

<form method="POST" action="{{url_for('update_transaction', transaction_id=transaction._id)}}">
  <select id="category" name="category_name">
    <option value="" disabled selected>Choose category</option>
    {% for category in categories %}
      {% if category.category_name == transaction.category_name %}
        <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
      {% else %}
        <option value="{{category.category_name}}">{{category.category_name}}</option>
      {% endif %}
    {% endfor %}
  </select>

  <input type="text" name="transition" id="transition" value="{{transaction.transition}}">
  <input type="text" name="details" id="details" value="{{transaction.details}}">
  <input type="text" name="date" id="date" value="{{transaction.date}}">
  <input type="text" name="amount" id="amount" value="{{transaction.amount}}">

  <button type="submit" name="action">Edit Task</button>
</form>

{% endblock %}