{% extends 'base.html' %} {% block content %}

<div id="dashboard-overview" class="p-2">
  <h4 class="text-white ml-2">Transactions</h4>
</div>

<!-- Buttons and search function -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="btn-toolbar mt-5 float-right" role="toolbar">
        <div class="btn-group mr-3" role="group">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#transactionModal">Add</button>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Search</div>
          </div>
          <input type="text" class="form-control custom-search" id="dataTableSearch" name="dataTableSearch" placeholder="Input search...">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Transactions table -->
<div class="container-fluid my-4">
  <div class="row">
    <div class="col">
      <table id="transactionTable" class="nowrap table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{transaction.date}}</td>
            <td>{{transaction.category_name}}</td>
            <td>{{transaction.details}}</td>
          {% if transaction.transition == "debit" %}
            <td>€ {{transaction.amount}}</td>
            <td></td>
          {% else %}
            <td></td>
            <td>€ {{transaction.amount}}</td>
          {% endif %}
            <td>
              <a onclick="editTransaction('{{transaction._id}}')" href="#"><i class="fas fa-edit"></i></a>
              <a href="{{url_for('delete_transaction', transaction_id=transaction._id)}}"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Add Transaction Modal -->
<div class="modal fade" id="transactionModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{{url_for('insert_transaction')}}" method="POST">
        <div class="modal-header">
          <h5 class="modal-title text-uppercase my-1">Add Transaction</h5>
        </div>
        <div class="modal-body mx-4">

          <div class="form-group my-2">
            <input type="radio" class="form-check-input custom-radio-btn" id="debit" name="transition" value="debit">
            <label for="debit" class="form-check-label custom-radio-btn"><i class="fas fa-check fa-1x"></i>Debit</label>
            <input type="radio" class="form-check-input custom-radio-btn" id="credit" name="transition" value="credit">
            <label for="credit" class="form-check-label custom-radio-btn"><i class="fas fa-check fa-1x"></i>Credit</label>
          </div>

          <div class="form-group mt-4">
            <label for="category">Transaction</label>
            <select class="form-control" id="category" name="category">
              {% for category in categories %}
                <option value="{{category.category_name}}">{{category.category_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
          </div>

          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date">
          </div>

          <div class="form-group pb-2">
            <label for="amount">Amount</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">€</span>
              </div>
              <input class="form-control" type="number" id="amount" name="amount" min="0" step="any" required>
              <div class="input-group-append">
                <span class="input-group-text">,00</span>
              </div>
            </div>
          </div>

          <div class="text-center my-3">
            <button type="button" class="btn btn-secondary custom-btn mr-3" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success custom-btn" name="action">Confirm</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Transaction Modal -->
<div class="modal fade" id="EditTransactionModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="editForm" name="editForm" method="POST">
        <div class="modal-header">
          <h5 class="modal-title text-uppercase my-1">Edit Transaction</h5>
        </div>
        <div class="modal-body mx-4">

          <div class="form-group my-2">
            <input type="radio" class="form-check-input custom-radio-btn" id="editDebit" name="editTransition" value="debit">
            <label for="editDebit" class="form-check-label custom-radio-btn"><i class="fas fa-check fa-1x"></i>Debit</label>
            <input type="radio" class="form-check-input custom-radio-btn" id="editCredit" name="editTransition" value="credit">
            <label for="editCredit" class="form-check-label custom-radio-btn"><i class="fas fa-check fa-1x"></i>Credit</label>
          </div>

          <div class="form-group mt-4">
            <label for="editCategory">Transaction</label>
            <select class="form-control" id="editCategory" name="editCategory">
              {% for category in editCategories %}
                <option value="{{category.category_name}}">{{category.category_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="editDescription">Description</label>
            <input type="text" class="form-control" id="editDescription" name="editDescription">
          </div>

          <div class="form-group">
            <label for="editDate">Date</label>
            <input type="text" class="form-control" id="editDate" name="editDate">
          </div>

          <div class="form-group pb-2">
            <label for="editAmount">Amount</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">€</span>
              </div>
              <input class="form-control" type="number" id="editAmount" name="editAmount" min="0" step="any" required>
              <div class="input-group-append">
                <span class="input-group-text">,00</span>
              </div>
            </div>
          </div>

          <div class="text-center my-3">
            <button type="button" class="btn btn-secondary custom-btn mr-3" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success custom-btn" name="action">Save changes</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}